<!DOCTYPE html>
<html>
    <head>
        <title>Local Page</title>
    </head>
    <body style="background-color: aqua;">
        <h1 style="color: black;text-align: center;">Hello Everyone</h1>
        <h2 style="color: black;text-align: center;">Welcome Go Rest Api</h2>
        <h3 style="color: black;">Why should I use Gin</h3>
        <p>Gin is a web framework written in Go (Golang). 
            It features a martini-like API with much better performance, up to 40 times faster thanks to httprouter.
             If you need performance and good productivity, you will love Gin</p>
    </body>
</html>